

<footer style="background-color:#202c41;">
<div class="container"  >
    <div class="row">
        <div class="col-xs-12 col-sm-6" style=" padding : 20px;">
            <div class="footer-single footer-about">
                <h2 class="title footer-logo" style="margin:10px 0px 40px 0px;"><a href="index-2.html"><img src="/img/petitionz-logo.png" alt="PetitionZ logo" class="img-responsive"/></a></h2>
                <p style=" color:#e7e1e1;">
                    Every campaign you see on the platform is started by our users. People and organisations around the world use PetitionZ to start campaigns, mobilise supporters, and work with decision makers to drive solutions.
                </p>
                <ul class="list-unstyled social-area">
                    <li><a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="envelop"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                </ul>
                <p>&copy; 2017 Copyright <span>PetitionZ</span> theme. All Rights reserved. 
            </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="padding: 40px 20px 20px 20px;" >
            <h4 class="stay_connected_title" style=" color:#e7e1e1; text-align: center;">Stay Connected</h4>
            <div class="subscribe-form" >
                <form class="subscribe-form-action" action="#">
                    <div class="form-group subscribe-input">
                        <input name="subscribe" id="subscribe" class="form-control cbx-input form-control" required="required" placeholder="Email Address" type="email">
                    </div>
                    <div class="form-group subscribe-btn">
                        <button class="btn" name="subscribe-submit" type="submit">Subscribe</button>
                    </div>
                </form>
            </div>
            

        </div> <!--//.col-->
    </div> <!--//.main row-->
</div> <!--//.container-->
</footer>

