<title>PetitionZ | {{title}}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- The above 3 meta tags *must* come first in the head -->

<meta name="description" content="simple description for your site"/>
<meta name="keywords" content="keyword1, keyword2"/>
<meta name="author" content="Petition"/>

<!-- twitter card starts from here, if you don't need remove this section -->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@yourtwitterusername"/>
<meta name="twitter:creator" content="@yourtwitterusername"/>
<meta name="twitter:url" content="http://yourdomain.com/"/>
<meta name="twitter:title" content="Your home page title, max 140 char"/> <!-- maximum 140 char -->
<meta name="twitter:description" content="Your site description, maximum 140 char "/> <!-- maximum 140 char -->
<meta name="twitter:image" content="/img/twittercardimg/twittercard-144-144.png"/>  <!-- when you post this page url in twitter , this image will be shown -->
<!-- twitter card ends here -->

<!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
<meta property="og:title" content="Your home page title"/>
<meta property="og:url" content="http://your domain here.com"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:site_name" content="Your site name here"/>
<!--meta property="fb:admins" content="" /-->  <!-- use this if you have  -->
<meta property="og:type" content="website"/> <!-- 'article' for single page  -->
<meta property="og:image"
content="/img/opengraph/fbphoto-476-476.png"/> <!-- when you post this page url in facebook , this image will be shown -->
<!-- facebook open graph ends here -->

<!-- desktop bookmark -->
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="/img/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

<!-- icons & favicons -->
<link rel="shortcut icon" type="image/x-icon"
href="/img/favicon.ico"/>  <!-- this icon shows in browser toolbar -->
<link rel="icon" type="image/x-icon" href="/img/favicon.ico"/> <!-- this icon shows in browser toolbar -->
<link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/img/favicon/manifest.json">

<!--  FAVICON AND TOUCH ICONS -->
<link rel="icon" type="image/png" href="/img/favicon/favicon.png">
<link rel="apple-touch-icon" href="/img/favicon/apple-touch-icon.png" />

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="/dep/bootstrap/css/bootstrap.min.css" />

<!--Bootstrap material CSS-->
<link rel="stylesheet" href="/dep/bootstrap-material/css/bootstrap-material-design.min.css" />
<!--<link rel="stylesheet" href="/dep/bootstrap-material/css/ripples.min.css" />-->

<!-- FONT AWESOME CSS -->
<!-- <link rel="stylesheet" href="/dep/fontawesome/css/fa-svg-with-js.css" /> -->
<link rel="stylesheet" href="/dep/fontawesome/css/fontawesome.min.css" />

<!-- GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CSource+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet" />

<!-- jQuery Data Table -->
<link rel="stylesheet" href="/dep/datatable/jquery.datatables.min.css" media="all"/>


<!-- Owlcarousel -->
<link rel="stylesheet" href="/dep/owlcarousel/owl.carousel.min.css" />
<link rel="stylesheet" href="/dep/owlcarousel/owl.theme.default.min.css" />

<!-- Magnific -->
<link rel="stylesheet" href="/dep/magnific/magnific-popup.css" />

<!-- jquery-file-upload -->
<link rel="stylesheet" href="/dep/jquery-file-upload/css/jquery.fileupload.css" />

<!-- MASTER  STYLESHEET  -->
<link id="cbx-style" rel="stylesheet" href="/css/style-default.min.css" media="all"/>

<!-- Google plus comments api -->
<script src="/apis.google.com/js/plusone.js"></script>