{% extends 'layout.html'%}
{% block content %}
    
<div class="not-alone" style="background-color:#202c41; padding:0px 20px 20px 20px">
        <div class="container-fluid">
            <div class="row">
                <div class="banner">
                    <h2 class="h1 text-center section-heading">You are not Alone</h2>
                    <p style="margin:0px 200px 20px 200px; color:#e7e1e1; line-height:25px;" align="center">
                        It’s the latest way to try and make a difference. You can make change simply by pressing a few buttons from the safety of your bed.
                        Our Website has recorded <span class="count" style="font-weight:bold;font-size:20px;"> 10 </span> number of peitions so far click below to create your own.
                       <br>
                    </p>

                </div>

                <div >

                    <p class="margin-top-4" align="center">
                        <a href="/create-petition" class="btn btn-brand btn-cta">Create a Petition</a>
                    </p>
                </div>

               
            </div>
        </div>
    </div>

 


<div class="success-petition" >
  <div class="col-xs-12">
                    <h2 class="h1 text-center section-heading">Successful Petitions</h2>
                    <p class="text-center"  style="margin:0px 80px 20px 80px; color:black;" >
We give you the tools and community to create your own sophisticated online campaign. All you have to do is write a petition in support of your cause. We help you gather support from around the world.
                    </p>
                </div>
    <div class="container petition-list" style="padding-bottom:10px;">
    
    </div>
    <div>
     <p  align="center" style="padding-bottom:30px;">
                        <a href="/petition-listing" class="btn btn-brand btn-cta">See All Petitions</a>
    </p>
    </div>
</div>

<span class="alert alert-warning" hidden id="signup-form-error" style="margin: 10px;font-size: 10px;padding: 10px;"></span>
    

   
    <div class="engagement-counter">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="h1 section-heading">Engagement</h2>
                    <p class="margin-bottom-3">
                        Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam id facilisis enim, sed mattis magna. Aliquam erat volutpat. <br>
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="image-frame">
                        <img src="/img/icons/doc-icon.png" alt="doc-icon"/>
                    </div>
                    <h3><span class="count">5501</span></h3>
                    <p>Petitions created already<br> The count goes on</p>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="image-frame">
                        <img src="/img/icons/doc-pen-icon.png" alt="doc-pen-icon"/>
                    </div>
                    <h3><span class="count">45501</span></h3>
                    <p>Signatures collected on<br> all of the petitions</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="image-frame">
                        <img src="/img/icons/people-icon.png" alt="people-icon"/>
                    </div>
                    <h3><span class="count">12</span></h3>
                    <p>People on site to signature<br> and discuss issues</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="image-frame">
                        <img src="/img/icons/award.png" alt="award-icon"/>
                    </div>
                    <h3><span class="count">24</span></h3>
                    <p>Government and NGO Awards<br> and a lot of socail works</p>
                </div>
            </div>
        </div>
    </div>

    
<div class="latest-petition" style="padding-bottom: 30px;">
  <div class="col-xs-12">
                    <h2 class="h1 text-center section-heading">Latest Petitions</h2>
                    <p class="text-center">
                        Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Etiam id facilisis enim, sed mattis magna. Aliquam erat volutpat. <br>
                        Lorem ipsum dolor sit amet.
                    </p>
                    
                </div>
    <div class="container petition-list" style="padding-bottom:0px;">
    
    </div>
    <p  align="center">
                        <a href="/petition-listing" class="btn btn-brand btn-cta">See All Petitions</a>
    </p>
</div>
    

   
    {% endblock %}

{% block scripts %}

<script>

$.ajax({
    url: '/get-petitions/4',
    method: 'GET',
    success: function(data){
        data = JSON.parse(data);
        console.log(data);
        count = 0;
        data.forEach(function(petition){
            
            if(count % 2 == 0){
                $('.petition-list').append('<div class="row">');
            }

            $('.petition-list').append(
            '<div class="col-sm-6 col-xs-12 petition-item-box" style="margin:0px;">' + 
                '<div class="petition-item card" style="height:500px;">' +
                    '<div class="banner">' +
                        '<a href="single-petition/'+ petition.id +'"><img src="'+ petition.bannerimage +'" alt="petition-cover"></a>' +
                    '</div>' +
                    '<div class="contents">' +
                    '<div>'+
                        '<h2 class="h5"><a href="single-petition/'+ petition.id +'">'+ petition.title +'</a></h2>' +
                    '</div>'+
                        '<p>Target: '+ petition.targetsign +' Signatures</p>' +
                        '<div class="progress-wrapper">' +
                            '<div class="progress small">' +
                                '<div class="value" style="width : '+  ( petition.currentsign / petition.targetsign ).toString()  +'% !important"></div>' +
                            '</div>' +
                            '<span>'+ Math.round(((petition.currentsign / petition.targetsign)* 100 ).toString()) +'%</span>' +
                            '<div class="clearfix"></div>' +
                        '</div>' +
                        '<div class="report-info">' +
                            '<div class="reporter">' +
                                '<img src="img/reporter.jpg" alt="reporters-photo">' +
                                '<p>'+ petition.createdby +'</p>' +
                            '</div>' +
                            '<div class="date">' +
                                '<a href="/single-petition/'+ petition.id +'#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</div>' 
            );

            if(count % 2 == 0){
                $('.petition-list').append('</div>');
            }
            count++;
        })
    },
    error: function(error){

    }
});


$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 10000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});


</script>

{% endblock %}


