
<div class="featured-listing-header">
    <div class="light-shade">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="h1 section-heading section-heading-white">All Petitions</h1>
                    <p class="section-info-white">
                        Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus erat ut placerat dictum. <br>
                        Etiam id facilisis enim, sed mattis magna. <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container petition-list">
    <div class="row">
        <div class="col-sm-6 col-xs-12 petition-item-box">
            <div class="petition-item card">
                <div class="banner">
                    <a href="single-petition.html"><img src="assets/img/petition-one.jpg" alt="petition-cover"></a>
                </div>
                <div class="contents">
                    <h2 class="h5"><a href="single-petition.html">Stop hunting, Save the birds</a></h2>
                    <p>Target: 8,127 Signatures</p>
                    <div class="progress-wrapper">
                        <div class="progress small">
                            <div class="value"></div>
                        </div>
                        <span>67%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="report-info">
                        <div class="reporter">
                            <img src="assets/img/reporter.jpg" alt="reporters-photo">
                            <p>Jane Doe</p>
                        </div>
                        <div class="date">
                            <a href="create-petition.html#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12  petition-item-box">
            <div class="petition-item card">
                <div class="banner">
                    <a href="single-petition.html"><img src="assets/img/petition-two.jpg" alt="petition-cover"></a>
                </div>
                <div class="contents">
                    <h2 class="h5"><a href="single-petition.html">Make education free for poors</a></h2>
                    <p>Target: 89,122 Signatures</p>
                    <div class="progress-wrapper">
                        <div class="progress small">
                            <div class="value"></div>
                        </div>
                        <span>67%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="report-info">
                        <div class="reporter">
                            <img src="assets/img/reporter.jpg" alt="reporters-photo">
                            <p>Jane Doe</p>
                        </div>
                        <div class="date">
                            <a href="create-petition.html#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-12  petition-item-box">
            <div class="petition-item card">
                <div class="banner">
                    <a href="single-petition.html"><img src="assets/img/petition-three.jpg" alt="petition-cover"></a>
                </div>
                <div class="contents">
                    <h2 class="h5"><a href="single-petition.html">Decrease Travellers taxes</a></h2>
                    <p>Target: 100,822 Signatures</p>
                    <div class="progress-wrapper">
                        <div class="progress small">
                            <div class="value"></div>
                        </div>
                        <span>67%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="report-info">
                        <div class="reporter">
                            <img src="assets/img/reporter.jpg" alt="reporters-photo">
                            <p>Jane Doe</p>
                        </div>
                        <div class="date">
                            <a href="create-petition.html#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12  petition-item-box">
            <div class="petition-item card">
                <div class="banner">
                    <a href="single-petition.html"><img src="assets/img/petition-four.jpg" alt="petition-cover"></a>
                </div>
                <div class="contents">
                    <h2 class="h5"><a href="single-petition.html">Ensure a flexible work hour</a></h2>
                    <p>Target: 9,822 Signatures</p>
                    <div class="progress-wrapper">
                        <div class="progress small">
                            <div class="value"></div>
                        </div>
                        <span>67%</span>
                        <div class="clearfix"></div>
                    </div>

                    <div class="report-info">
                        <div class="reporter">
                            <img src="assets/img/reporter.jpg" alt="reporters-photo">
                            <p>Jane Doe</p>
                        </div>
                        <div class="date">
                            <a href="create-petition.html#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-12  petition-item-box">
            <div class="petition-item card">
                <div class="banner">
                    <a href="single-petition.html"><img src="assets/img/petition-five.jpg" alt="petition-cover"></a>
                </div>
                <div class="contents">
                    <h2 class="h5"><a href="single-petition.html">Ensure road safety at Prime State</a></h2>
                    <p>Target: 10,102 Signatures</p>
                    <div class="progress-wrapper">
                        <div class="progress small">
                            <div class="value"></div>
                        </div>
                        <span>67%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="report-info">
                        <div class="reporter">
                            <img src="assets/img/reporter.jpg" alt="reporters-photo">
                            <p>Jane Doe</p>
                        </div>
                        <div class="date">
                            <a href="create-petition.html#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12  petition-item-box">
            <div class="petition-item card">
                <div class="banner">
                    <a href="single-petition.html"><img src="assets/img/petition-six.jpg" alt="petition-cover"></a>
                </div>
                <div class="contents">
                    <h2 class="h5"><a href="single-petition.html">Take action for saving Environment</a></h2>
                    <p>Target: 12,822 Signatures</p>
                    <div class="progress-wrapper">
                        <div class="progress small">
                            <div class="value"></div>
                        </div>
                        <span>67%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="report-info">
                        <div class="reporter">
                            <img src="assets/img/reporter.jpg" alt="reporters-photo" />
                            <p>Jane Doe</p>
                        </div>
                        <div class="date">
                            <a href="create-petition.html#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-12  petition-item-box">
            <div class="petition-item card">
                <div class="banner">
                    <a href="single-petition.html"><img src="assets/img/petition-seven.jpg" alt="petition-cover"></a>
                </div>
                <div class="contents">
                    <h2 class="h5"><a href="single-petition.html">Ensure Fire safety all over the country</a></h2>
                    <p>Target: 2,822 Signatures</p>
                    <div class="progress-wrapper">
                        <div class="progress small">
                            <div class="value"></div>
                        </div>
                        <span>67%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="report-info">
                        <div class="reporter">
                            <img src="assets/img/reporter.jpg" alt="reporters-photo" />
                            <p>Jane Doe</p>
                        </div>
                        <div class="date">
                            <a href="create-petition.html#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xs-12  petition-item-box">
            <div class="petition-item card">
                <div class="banner">
                    <a href="single-petition.html"><img src="assets/img/petition-eight.jpg" alt="petition-cover"></a>
                </div>
                <div class="contents">
                    <h2 class="h5"><a href="single-petition.html">Recrtuit more traffic police to stop accidents</a></h2>
                    <p>Target: 12,822 Signatures</p>
                    <div class="progress-wrapper">
                        <div class="progress small">
                            <div class="value"></div>
                        </div>
                        <span>67%</span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="report-info">
                        <div class="reporter">
                            <img src="assets/img/reporter.jpg" alt="reporters-photo">
                            <p>Jane Doe</p>
                        </div>
                        <div class="date">
                            <a href="create-petition.html#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="pagination-wrapper" class="text-center">
                <ul class="pagination">
                    <li class="disabled">
                        <a href="#" aria-label="Previous">
                            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
