{% extends 'layout.html' %}
{% block content %}

<div class="featured-listing-header">
    <div class="light-shade">
        <div class="container" >
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="h1 section-heading section-heading-white">All Petitions</h1>
                    <p class="section-info-white">
                        More than 100 million people in our country are creating change in their communities.More than 100,000 organisations are advancing their causes and connecting with new supporters.<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container petition-list" >
    
</div>
{% endblock %}

{% block scripts %}

<script>

$.ajax({
    url: '/get-petitions/0',
    method: 'GET',
    success: function(data){
        data = JSON.parse(data);
        console.log(data);
        count = 0;
        data.forEach(function(petition){
            
            if(count % 2 == 0){
                $('.petition-list').append('<div class="row">');
            }

            $('.petition-list').append(
            '<div class="col-sm-6 col-xs-12 petition-item-box">' + 
                '<div class="petition-item card" style="height:500px;">' +
                    '<div class="banner">' +
                        '<a href="single-petition/'+ petition.id +'"><img src="'+ petition.bannerimage +'" alt="petition-cover"></a>' +
                    '</div>' +
                    '<div class="contents">' +
                        '<h2 class="h5"><a href="single-petition/'+ petition.id +'">'+ petition.title +'</a></h2>' +
                        '<p>Target: '+ petition.targetsign +' Signatures</p>' +
                        '<div class="progress-wrapper">' +
                            '<div class="progress small">' +
                                '<div class="value" style="width : '+  (petition.currentsign / petition.targetsign).toString() +'% !important"></div>' +
                            '</div>' +
                            '<span>'+ ((petition.currentsign / petition.targetsign)* 100 ).toString() +'%</span>' +
                            '<div class="clearfix"></div>' +
                        '</div>' +
                        '<div class="report-info">' +
                            '<div class="reporter">' +
                                '<img src="img/reporter.jpg" alt="reporters-photo">' +
                                '<p>'+ petition.createdby +'</p>' +
                            '</div>' +
                            '<div class="date">' +
                                '<a href="/single-petition/'+ petition.id +'#sign-this-petition" class="btn btn-sm btn-brand">Sign This<div class="ripple-container"></div></a>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                '</div>' +
            '</div>'
            );
            if(count % 2 == 0){
                $('.petition-list').append('</div>');
            }
            count++;
        })
    },
    error: function(error){

    }
})

</script>

{% endblock %}