{% extends 'layout.html'%}
{% block content %}
<div class="signup-section">
    <div class="container-fluid">
        <div class="row light-shade">
            <div class="left-part col-xs-12 col-md-6">
            </div>
            <div class="right-part col-xs-12 col-md-6">
                <h2 class="h1 section-heading">Sign Up</h2>
                <span class="alert alert-warning" hidden id="signup-form-error" style="margin: 10px;font-size: 10px;padding: 10px;"></span>
                <form action="/register" id="signup-form" class="signup-form" method="POST" autocomplete="off" name="registration">
                    <div class="form-group">
                        <input type="text" placeholder="First Name" id="firstname" class="form-control half" name="firstname"  autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  placeholder="Last Name" id="lastname" class="form-control half" name="lastname" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <input type="email"  placeholder="Email" id="email" class="form-control" name="email" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  placeholder="Aadhar Number" id="aadhar" class="form-control" name="aadhar" autocomplete="off" pattern="[1-9]{1}[0-9]{11}" required>
                    <div class="form-group" >
                        <select name="state" id="state" class="form-control" autocomplete="off" required >
                                <option value="">Select State</option>
                                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                <option value="Andhra Pradesh">Andhra Pradesh</option>
                                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                <option value="Assam">Assam</option>
                                <option value="Bihar">Bihar</option>
                                <option value="Chandigarh">Chandigarh</option>
                                <option value="Chhattisgarh">Chhattisgarh</option>
                                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                <option value="Daman and Diu">Daman and Diu</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Goa">Goa</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Himachal Pradesh">Himachal Pradesh</option>
                                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                <option value="Jharkhand">Jharkhand</option>
                                <option value="Karnataka">Karnataka</option>
                                <option value="Kerala">Kerala</option>
                                <option value="Lakshadweep">Lakshadweep</option>
                                <option value="Madhya Pradesh">Madhya Pradesh</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Manipur">Manipur</option>
                                <option value="Meghalaya">Meghalaya</option>
                                <option value="Mizoram">Mizoram</option>
                                <option value="Nagaland">Nagaland</option>
                                <option value="Orissa">Orissa</option>
                                <option value="Pondicherry">Pondicherry</option>
                                <option value="Punjab">Punjab</option>
                                <option value="Rajasthan">Rajasthan</option>
                                <option value="Sikkim">Sikkim</option>
                                <option value="Tamil Nadu">Tamil Nadu</option>
                                <option value="Tripura">Tripura</option>
                                <option value="Uttaranchal">Uttaranchal</option>
                                <option value="Uttar Pradesh">Uttar Pradesh</option>
                                <option value="West Bengal">West Bengal</option>
                            </select>
                            
                    </div>
                    </div>
                    <div class="form-group">
                        <input type="password"  placeholder="Password" id="pass" class="form-control" name="pass" required>
                    </div>
                    <button type="submit" class="btn btn-brand cbx-send-btn btn-cta" name="register">Sign Up</button>
                </form>
                <div>
                    <p>Or, Sign Up with:</p>
                    <button class="btn btn-brand btn-sm facebook">Facebook</button>
                    <button class="btn btn-brand btn-sm google-plus">Google+</button>
                    <button class="btn btn-brand btn-sm twitter">Twitter</button>
                    <p><a href="login.html">Have an Account ? Log In now</a> | <a href="typography.html">FAQ</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{# extra custom scripts #}

<script>

$('#signup-form').submit(function(event){
    event.preventDefault();

    $.ajax({
        url : '/register',
        method : 'POST',
        data : $('#signup-form').serialize(),
        success : function(data){
            console.log(data);
            alert('To complete registration check your email for verification link.');
            //window.location.replace('/');
        },
        error : function(err){
            console.log("error : ", err.responseText);
            $('#signup-form-error').show();
            $('#signup-form-error').text(err.responseText);
        }
    })
})

</script>


{% endblock %}